* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*paleta de colores 
  #FFFBAC;
  #D7E9B9; 
 fuentes: 
font-family: 'Phudu', cursive;
font-family: 'Poppins', sans-serif;
*/
main{ 

    background-image: url( ../assets/abrazo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}




.divPrincipal{ 
display: flex;
justify-content: center;
background-color: #212529;
}


.listanav{ 
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;   
    background-color: gray;
    color: white;
    font-family: 'Phudu', cursive;
}


.listanav a {
    /**navBar**/
    
    text-decoration: none;
    font-size: 25px;
    color: white;
   
    
   

}

.item:hover{ 
    text-shadow: #212529 2px 2px;
    color: #D7E9B9;
}



.quienessomos {
    /**quienes somos section**/
    background-color: rgba(22, 22, 28, 0.378);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 20px;
    border-radius: 50px;
    height: 400px;


}

.quienessomos h2 {
    /**h2 de quienes somos **/

    font-family: 'Phudu', cursive;
    margin: 20px;
    font-size: 46px;
    color: white;
    
    width: 100%;
    
}

.quienessomos p {
    /**quienes somos parrafo **/
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 100;
    font-weight: 400px;
    color: white;
}







.quienessomos img  {
    /**********************************************************************************************************imagen quienes somos **/
    height: 400px;
    width: 100%;
    padding: 50px;
    align-items: end;
    border-radius: 40%;
    
}

.refugio {
    /*******************************************************************************************************************div refugio**/

    border-top: 20px;
    background-color: rgba(22, 22, 28, 0.378);
    display: flex;
    margin: 20px;
    border-radius: 50px;
    height: 400px;

}
.refugio img { 

    display: block;
    margin: 20px;
    border-top: 20px ;
    border-radius: 40%;
    width: 70%;
    height: 370px;
}


.nuestrorefugio {       /****************************************************************************************************h2 refugio*/
    
    display: flex;
    font-family: 'Phudu', cursive;
    margin: 20px;
    font-size: 40px;
    width: 100%;
    text-align: right;
    color: white;

}

.refugio p { /*******************************************************************************************************refugio parrafo*/
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    margin: auto;
   
}

.footer { /*************************************************************************************************footer*/
    background-color: #D7E9B9;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
   
    border: 10px;
    

}
.direccion{ 
    margin: 50px;
    height: 50px;
    width: 20%;
    display: flex;
    margin: 50px;
}
.direccion img {
    display: inline;
   
    
}
.direccion p { 
display: inline-block;
padding: 5px; 
margin: 20px;
justify-content: right;
text-align: center;
font-family: 'Poppins', sans-serif;}
.redes { 
 border-left: 1px solid black;
 justify-content: center;
 margin: 50px;

}
.redes img { 
    width: 40px;
    
    justify-content: space-between;
    border: 20px;
    margin: 30px;
 
    
    
}
.mail { 
border-left: 1px solid black;
margin: 50px;
    
}
.mail h4 { 
    font-family: 'Phudu', cursive;
    padding: 5px;
}
.mail p { 
    height: 100px;
    font-family: 'Poppins', sans-serif;
    
    border: 10px;
    display: inline-block; 
    
 
    font-size: 40px;
    display: flex;
    
}

/*****************************************************************************************************Formulario*/ 
.formulario h4 { font-family: 'Phudu', cursive;
margin: 20px;
font-size: 40px;
display: flex;
text-align: center;
text-decoration: underline;
justify-content: center;
color: black;}
.opciones{ 
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black
}


.formulario { 

    width: 600px;
    background-color:#d7e9b984;
    padding: 30px;
    margin: auto;   
    margin-top:100px ;
    margin-bottom: 100px;
    border-radius: 5px;
    border: solid 3px black;
}
.boton{ 

    background-color: rgba(22, 22, 28, 0.378);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin: auto;
}

.parrafomain{ font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color:rgba(22, 22, 28, 0.378);
    width: 100%;
    padding: 50px;
    color: white;
    font-size: 25px;
    
}

/***************************************************************************************galeria*/ 
.bodygaleria{ 
   background-color: gray;
}
   
.galeriabienvenida { 
font-family: 'Poppins', sans-serif;
padding: 20px;
text-align: center;
background-color: rgba(27, 27, 37, 0.435);
font-size: 30px;
color: white;
border: solid 3px  black;
margin: 40px;
}
   
   
   
   
   
   
   
   
.grid-galeria{ 
       display: grid;
       grid-template-columns: repeat(4, 2fr);
       
       gap: 20px;
      margin: 30px;
       
   }


   .grid_img{ 
   width: 100%;
   height: 100%;
   object-fit:cover ;
   gap: 10px;
   border: solid black 3px;
   
   
   }
 
.contenedorimg{ 

    border: #D7E9B9;
}

.contenedorimg:nth-child(1) {
    grid-column-start: span 2;
}
.contenedorimg:nth-child(2) {
    grid-column-start: span 2;
}

.contenedorimg:nth-child(3) {
    grid-column-start: span 3;
    
}

   .contenedorimg:nth-child(5) {
       grid-column-start: span 2;
   }
   .contenedorimg:nth-child(6) { 
       grid-column-start: span 2;
   
   }
   .contenedorimg:nth-child(11) { 
       grid-column-start: span 4;
   
   }
   
   .contenedorimg:nth-child(10) { 
       grid-row-end: span 1 ;
   }

/***************************************************************************************mascotas*/

main{ 

    background-image: url( ../assets/abrazo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}


.contenedor { 
width: 100%;

height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto; 


}

.contenedor .card{ 
    width: auto;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(22, 22, 28, 0.378) ;
    overflow: hidden;
    margin: 20px; 
    text-align: center;
    transition: all 0.25s;
    background-color: #d7e9b99d;
    padding: 5px;
}
.divmascota{ 
    justify-content: center; 
}



.contenedor .card:hover{ 
    translate: translatey (-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.639);

}
.contenedor .card img{ 
    width: 70%;
    height: 220px;
    border: solid 2px black ;
    border-radius: 8px;
    
    
}
.contenedor .card h2{ 
    
    font-family: 'Phudu', cursive;
}
.contenedor .card p { 
    font-family: 'Poppins', sans-serif;
    width: 500px;

   font-size: 15px;

}

/*AYUDA*******************/
.requisitosh2 { 
    font-family: 'Phudu', cursive;
    justify-content: center;
    display: flex;
    text-decoration: underline;
    padding: 10px;
    border: 15px;   
     
}
.requisitos{ 
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 400px;    
    

}
.listarequisitos { 
    background-color: #d7e9b99d;
    border: solid 2px black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px ;
    margin: 30px;
    padding: 10px;
   
    
   

}
.listarequisitos li { 
    list-style: none;
    padding: 10px;
}




@media (max-width: 768px) { 
 /***********************************************************************************************MASCOTA tablet*/
 main{ 

    background-image: url( ../assets/abrazo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}
.recorda  { 
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    display: block;
    justify-content: center;
    margin: 2px;
    padding: 20px;
   
}
.recordabox { 
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    
  
}




 .contenedor{ 


width: 100%;
max-width: 1200px;
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto; 
}

.contenedor .card{ 
    width: auto;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(22, 22, 28, 0.378) ;
    overflow: hidden;
    margin: 20px; 
    text-align: center;
    transition: all 0.25s;
    background-color: #d7e9b99d;
    padding: 5px;
}
.divmascota{ 
    justify-content: center; 
}



.contenedor .card:hover{ 
    translate: translatey (-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.639);

}
.contenedor .card img{ 
    width: 70%;
    height: 220px;
    border: solid 2px black ;
    border-radius: 8px;
    
    
}
.contenedor .card h2{ 
    
    font-family: 'Phudu', cursive;
}
.contenedor .card p { 
    font-family: 'Poppins', sans-serif;
    width: 500px;

   font-size: 15px;

}
.DIRECCION{ 

    font-size: 30px;
    text-align: center;
    
    padding: 5px;
    margin: 10px;

}      

.REDES { 

    font-size: 30px;
    text-align: center;
   
    padding: 5px;
    margin: 10px;

}

.CONTACTOS { 
    font-size: 27px;
    text-align: center;
    
    padding: 5px;
    margin: 10px;
    }
}







    /**************************************************************************************************GALERIA*/ 
    @media (max-width: 768px){ 

    
    .listanav a { 
        text-align: center;


    }


    .galeriabienvenida { 
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        text-align: center;
        background-color: rgba(27, 27, 37, 0.435);
        font-size: 20px;
        color: white;
        border: solid 1px black;
        margin: 20px;
    }

    .grid-galeria{ 
       display: grid;
      grid-template-columns: repeat(4, 6fr);
       grid-template-rows: repeat(4, 3fr ) ;
      
       gap: 20px;
       margin: 30px;
       
        
    }
    .grid_img{ 
        width: 100%;
        height: 100%;
        object-fit:cover ;
        gap: 10px;
        border: solid black 3px;
        margin: 10px;
     } 
     
     .contenedorimg { 
    border:  solid 1 px;

     }
     .contenedorimg:nth-child(1) {
        grid-column-start: span 2;
    }
      
    .contenedorimg:nth-child(2) {
        grid-column-start: span 2;
    }
  
    .contenedorimg:nth-child(3) {
        grid-column-start: span 2;
    }
      
    .contenedorimg:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
      
    .contenedorimg:nth-child(7) {
        grid-column-start: span 2;
    }
      
    .contenedorimg:nth-child(8) {
        grid-row-start: span 3;
        grid-column-start: span 2;
    }
      
    .contenedorimg:nth-child(9) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .contenedorimg:nth-child(10) {
        grid-column-start: span 2;
    }
    .contenedorimg:nth-child(11) {
        grid-column-start: span 4;
        grid-row-start: span 1;
    }

 }

.DIRECCION p{ 

    font-size: 30px;
    text-align: center;
   
    padding: 5px;
    margin: 10px;

}      

.REDES { 

    font-size: 30px;
    text-align: center;
    
    padding: 5px;
    margin: 10px;

}

.CONTACTOS { 
    font-size: 27px;
    text-align: center;
    
    padding: 5px;
    margin: 10px;
    }



@media (max-width: 990px) {


    .DIRECCION{ 

        font-size: 30px;
        text-align: center;
        
        padding: 5px;
        margin: 10px;
    
    }      
    
    .REDES { 
    
        font-size: 30px;
        text-align: center;
      
        padding: 5px;
        margin: 10px;
    
    }
    
    .CONTACTOS { 
        font-size: 27px;
        text-align: center;
        
        padding: 5px;
        margin: 10px;
        }
    }
    .listanav  a { 
        font-size: 20px;
        text-align: center;
       }




@media (max-width: 425px) { 

    .listanav  a { 
        font-size: 20px;
        text-align: center;
       }
   
    .galeriabienvenida { 
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        text-align: center;
        background-color: rgba(27, 27, 37, 0.435);
        font-size: 10px;
        color: white;
        border: solid 1px  black;
        margin: 20px;
    }
  
  
    .grid-galeria{ 
        display: block;
     
       
        gap: 20px;
        margin: 30px;
        
         
     }



}